body {
  background-color: var(--main-neutral-100);

  display: flex;
  justify-content: center;

  margin-top: 40px;
}

.generic-description {
  color: var(--main-neutral-300);

  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center; 

  margin: 0;
  padding-inline: 12px;

  font-family: SUSE, Roboto, sans-serif;
  font-size: 14px;
}
